@charset "UTF-8";
//px转换函数
@function px2rem( $px ){
    @return $px*320/$designWidth/20 + rem;
}
$designWidth:750;
body{
    width:px2rem(750);
    margin:0 auto;  
}

/*新版图片路径*/
$pathMImg:'../image';  
  
%play-btn{
    width:px2rem(170);
    height: px2rem(112);
    background:url($pathMImg +"/h5-room/play-btn.png") no-repeat 0 0;
    background-size:contain;
}
%pause-btn{
    width:px2rem(170);
    height: px2rem(112);
    background:url($pathMImg +"/h5-room/pause-btn.png") no-repeat 0 0;
    background-size:contain;
}  
%chat-icon{
    width:px2rem(72);
    height: px2rem(72);
    background:url($pathMImg +"/h5-room/chat-icon.png") no-repeat 0 0;
    background-size:contain;
}
%share-icon{
    width:px2rem(72);
    height: px2rem(72);
    background:url($pathMImg +"/h5-room/share-icon.png") no-repeat 0 0;
    background-size:contain;
}
%gift-icon{
    width:px2rem(72);
    height: px2rem(72);
    background:url($pathMImg +"/h5-room/gift-icon.png") no-repeat 0 0;
    background-size:contain;
}
%level-icon{
    width:px2rem(76);
    height: px2rem(34);
    background:url($pathMImg +"/h5-room/levelicon/29.png") no-repeat 0 0;
    background-size:contain;
}

%vip-icon{
    width:px2rem(68);
    height: px2rem(32);
    background:url($pathMImg +"/h5-room/vipicon/3.png") no-repeat 0 0;
    background-size:contain;
}
%xiubi-icon{
    width:px2rem(96);
    height: px2rem(96);
    background:url($pathMImg +"/h5-room/xiubi-icon.png") no-repeat 0 0;
    background-size:contain;
}
%gift-active-icon{
    width:px2rem(32);
    height: px2rem(32);
    background:url($pathMImg +"/h5-room/gift-active-icon.png") no-repeat 0 0;
    background-size:contain;
}
%lianji-icon{
    width:px2rem(290);
    height: px2rem(285);
    background:url($pathMImg +"/h5-room/lianji-icon.png") no-repeat 0 0;
    background-size:contain;
}
%loading-room{
    width:px2rem(750);
    height: px2rem(1334);
    background:url($pathMImg +"/h5-room/loading.gif") no-repeat 0 0;
    background-size:contain;
}
%arrow1{
   width:px2rem(12);
   height: px2rem(20);
   background:url($pathMImg +"/h5-room/left-arrow-icon.png") no-repeat 0 0;
   background-size:contain; 
}

%arrow2{
    width:px2rem(20);
    height: px2rem(12);
    background:url($pathMImg +"/h5-room/up-arrow-icon.png") no-repeat 0 0;
    background-size:contain; 
}
@font-face {
    font-family: brush-script;
    src: url($pathMImg +"/h5-room/brush-script.ttf");
}


































































