@charset "UTF-8";
//px转换函数
@function px2rem( $px ){
	@return $px*320/$designWidth/20 + rem;
}
$designWidth:1080;

/*新版图片路径*/
$pathMImg:'../image/';
body{
	background:#f8f8f8;
}

body,.wrap{
	width:px2rem(1080);
	margin:0 auto;
}
.wrap{
	.recharge{
		width:100%;
		margin-top:px2rem(100);
		margin-bottom:px2rem(56);
		height: px2rem(156);
		line-height:px2rem(156);
		background:#fff;
		border-top:px2rem(1) solid #eee;
		border-bottom:px2rem(1) solid #eee;
	}
	.txt{
		display:inline-block;
		width:px2rem(230);
		margin-left:px2rem(40); 
		font-size:px2rem(45);
		color: #3F3F3F;
	}
	.input{
		display:inline-block;
		width:px2rem(560);
		padding:px2rem(30) 0;
		height:px2rem(96);
		line-height:px2rem(96);
		font-size:px2rem(45);
		color: #3F3F3F;
	}
	.re-icon{
		display:inline-block;
		vertical-align:middle;
		width:px2rem(30);
		height:px2rem(30);
		margin-left:px2rem(6);
		background:url($pathMImg +"sign/unit.png") no-repeat center top;
		background-size:contain;
	}
	.re-list{
		width:px2rem(1000);
		margin:0 auto;
		overflow:hidden;
		li{
			display:inline-block;
			position:relative;
			width:px2rem(310);
			height:px2rem(190);
			text-align:center;
			margin-bottom:px2rem(28);
			margin-right:px2rem(10);
			background:#fff;
			border:px2rem(2) solid #fff;
			border-radius:px2rem(18);
			overflow:hidden;
		}
		.select{
			border-color:#F64747;
			
		}
		.select::after{
			content:"";
			position:absolute;
			top:0;
			right:0;
			width:0;
			height:0;
			border:px2rem(20) solid transparent;
			border-bottom-color:#F64747; 
			border-color:#F64747 #F64747 transparent transparent;
		}
		.money{
			margin:px2rem(54) 0 px2rem(12);
			font-size:px2rem(36);
			color:#999;
		}
		.unit{
			font-size:px2rem(36);
			color:#3F3F3F;
		}
	}
	.other{
		margin-top:px2rem(60);
		height: px2rem(136);
		line-height:px2rem(136);
		margin-bottom:px2rem(75);
		background:#fff;
		border-top:px2rem(1) solid #eee;
		border-bottom:px2rem(1) solid #eee;
		.multiple{
			font-size:px2rem(36);
			color:#999;
		}
		i{
			color: #FFAD24;
		}
		.icon{
			display:inline-block;
			vertical-align:middle;
			width:px2rem(30);
			height:px2rem(30);
			margin:px2rem(-5) 0 0 px2rem(10);
			background:url($pathMImg +"sign/unit.png") no-repeat right center;
			background-size:contain;
		}
		.input{
			padding:px2rem(20);
			height:px2rem(96);
			line-height:px2rem(96);
		}
	}
	.btn{
		display:block;
		width:px2rem(948);
		height:px2rem(120);
		margin:0 auto;
		line-height:px2rem(120);
		background:#F64747;
		color:#fff;
		border-radius:px2rem(18);
		font-size:px2rem(54);
		text-align:center;
	}
}
.xiu-mask{
  width: 100%;
  height: 100%;
  background: #000;
  opacity: .5;
  position: fixed;
  z-index: 91;
  top: 0;
  left: 0;
}
.xiu-alert{
  padding: 5%;
  background: #fff;
  width:70%;
  position: absolute;
  left: 50%;
  margin-left: -40%;
  top:40%;
  z-index: 92;
  border-radius: px2rem(8);
  .alert-title{
	font-size: px2rem(48);
	margin-bottom: px2rem(30);
	color: #4D4D4D;
  }
  .alert-txt{
	font-size:px2rem(40);
	color: #666666;
	margin-bottom: px2rem(20)
  }
  .btn-assembly{
	margin-top: px2rem(30);
	float: right;
	font-size: px2rem(40);
	button{
	  text-align: right;
	  border: none;
	  background: none;
	}
  }
  .mr80{
    margin-right: px2rem(80);
  }
  .col-f64{
    color: #F64747;
  }
}



