@charset "UTF-8";
//px转换函数
@function px2rem( $px ){
	@return $px*320/$designWidth/20 + rem;
}
$designWidth:1080;

/*新版图片路径*/
$pathMImg:'../image';

body,.wrap{
	width:px2rem(1080);
	margin:0 auto;
}
.wrap{
	.recharge{
		padding-top:px2rem(100);
		height: px2rem(156);
		line-height:px2rem(156);
		margin-bottom:px2rem(56);
	}
	.txt{
		display:inline-block;
		width:px2rem(225);
		margin-left:px2rem(40); 
		font-size:px2rem(45);
		color: #3F3F3F;
	}
	.input{
		display:inline-block;
		width:px2rem(560);
		line-height:px2rem(156);
		font-size:px2rem(45);
		color: #3F3F3F;
	}
	.re-icon{
		display:inline-block;
		vertical-align:middle;
		width:px2rem(30);
		height:px2rem(30);
		margin-left:px2rem(6);
		background:url($pathMImg +"/sign/unit.png") no-repeat center top;
		background-size:contain;
	}
	.re-list{
		width:px2rem(1000);
		margin:0 auto;
		overflow:hidden;
		li{
			float:left;
			position:relative;
			width:px2rem(315);
			height:px2rem(195);
			text-align:center;
			overflow:hidden;
		}
		.select{
			width:px2rem(312);
			height:px2rem(192);
			border:px2rem(1) solid #F64747;
			border-radius:px2rem(18);
		}
		.corner{
			position:absolute;
			top:0;
			right:0;
			width:0;
			height:0;
			border:px2rem(20) solid transparent;
			border-bottom-color:#F64747; 
			border-color:#F64747 #F64747 transparent transparent;
		}
		.money{
			margin:px2rem(54) 0 px2rem(12);
			font-size:px2rem(36);
			color:#999;
		}
		.unit{
			font-size:px2rem(36);
			color:#3F3F3F;
		}
	}
	.other{
		padding-top:px2rem(100);
		height: px2rem(136);
		line-height:px2rem(136);
		margin-bottom:px2rem(75);
		.multiple{
			font-size:px2rem(36);
			color:#999;
		}
		i{
			color: #FFAD24;
		}
		.icon{
			display:inline-block;
			vertical-align:middle;
			width:px2rem(30);
			height:px2rem(30);
			margin:px2rem(-5) 0 0 px2rem(10);
			background:url($pathMImg +"/sign/unit.png") no-repeat right center;
			background-size:contain;
		}
	}
	.btn{
		display:block;
		width:px2rem(948);
		height:px2rem(120);
		margin:0 auto;
		line-height:px2rem(120);
		background:#F64747;
		color:#fff;
		border-radius:px2rem(18);
		font-size:px2rem(54);
		text-align:center;
	}
}


