@charset "UTF-8";
.fn{
    display: none;
}
.container{
    width: 100%;
    height: 100%;
    .xiu8-live{
        position: relative;
        width: 100%;
        height: px2rem(1334);
        overflow: hidden;
        background: #000;  
        &.no-playing{
           height: px2rem(862); 
        }
    }
}
.loading-box{
    @extend %loading-room;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}
.video-box{
    position: relative;
    width: 100%;
    height: 100%;
    .h5-player{
        width: 100%;
        height: 100%;
    }
    .h5-player-btn{
        position: absolute;
        top:0;
        left:0;
        width: 100%;
        height: 100%;
        .play-btn{
            position: absolute;
            @extend %play-btn;
            top:50%;
            left:50%;
            margin:px2rem(-56) 0 0 px2rem(-85);
        }
        .pause-btn{
            position: absolute;
            @extend %pause-btn;
            top:50%;
            left:50%;
            margin:px2rem(-56) 0 0 px2rem(-85);
        }
    }
} 
.top-anchor-box{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:px2rem(75);
    padding-top:px2rem(20);
    .info{
        position: absolute;
        top:px2rem(20);
        left:px2rem(20);
        width:px2rem(290);
        height:px2rem(72);
        /* background: #000;
        opacity: 0.5; */
        background:rgba(0,0,0,.5);
        border-radius: px2rem(52);
        
        dt{
            position: absolute;
            top:px2rem(2);
            left: px2rem(2);
            width:px2rem(68);
            height:px2rem(68);
            border-radius:50%;
            overflow:hidden;
        }
        img{
            width:px2rem(68);
            height:px2rem(68);
        }
        dd{
            position:absolute;
            top:px2rem(10);
            left:px2rem(80);
            font-size: px2rem(24);
            color: #FFF;
            p{
                line-height:px2rem(24);
            }
            .name{
                max-width:px2rem(200);
                margin-bottom:px2rem(6);
                white-space:nowrap;
                text-overflow:ellipsis;
                overflow:hidden;
            }
        }
    }
    .follow{
        position: absolute;
        top:px2rem(29);
        right:px2rem(30);
        width:px2rem(94);
        height:px2rem(54);
        line-height:px2rem(54);
        background:#F64747;
        color:#fff;
        text-align:center;
        border-radius:px2rem(32);
        font-size:px2rem(30);
    }
    .has-follow{
        width:px2rem(126);
        background:#ccc; 
        transition:all .3s;
    }
}
.chat-box{
    position:absolute;
    top:px2rem(966);
    left:px2rem(20);
    width:px2rem(528);
    height:px2rem(230);
    overflow:hidden;
    .msg-list{
        position: absolute;
        left:0;
        bottom:0;
        width:100%;
        font-size:px2rem(28);
        color:#fff;
        li{
            margin-top:px2rem(6);
        }
    }
    .level{
        display:inline-block;
        vertical-align:middle;
        margin-right: px2rem(8);
    }
    .vip{
        display:inline-block;
        vertical-align:middle;
    }
    .anchor{
        color:#f64747;
        //text-shadow:0 -1px 1px #000;
        text-shadow: 0 1px 2px rgba(0,0,0,0.80);
        margin:0 px2rem(5) 0 px2rem(8);
    }
    .a-v-1{
        color:#f5ce05;
    }
    .a-v-2{
        color:#f510f3;
        
    }
    .msg{

    }
}
.bottom-share-box{
    position: absolute;
    bottom:px2rem(20);
    left:0;
    width:100%;
    height:px2rem(72);
    .try-btn{
        position: absolute;
        top: 0;
        left:px2rem(23);
        width:px2rem(352);
        height:px2rem(72);
        line-height:px2rem(72);
        background:#F64747;
        color:#fff;
        text-align:center;
        border-radius:px2rem(100);
        font-size:px2rem(27);
    }
    .share{
        position: absolute;
        top:0;
        left:px2rem(444);
        a{
            display:block;
            @extend %share-icon;
        }
        .tip{
            position:absolute;
            top:px2rem(-72);
            left:px2rem(-45);
            width:px2rem(172);
            height:px2rem(58);
            text-align:center;
            line-height:px2rem(58);
            background: #FFF;
            border-radius: px2rem(38);
            font-size: px2rem(28);
            color: #F64747;
        }
        .tip::after{
            content:"";
            position:absolute;
            bottom:px2rem(-27);
            right:px2rem(76);
            width:0;
            height:0;
            border:px2rem(15) solid transparent;
            border-top-color:#fff; 
            border-color:#fff transparent transparent transparent;
        }
    }
    .gift-btn{
        position: absolute;
        top:0;
        left:px2rem(546);
        @extend %gift-icon;
    }
    .chat-btn{
        position: absolute;
        top:0;
        left:px2rem(648);
        @extend %chat-icon;
    }
}
.user-gift-box{
    position: absolute;
    bottom:px2rem(538);
    left:px2rem(-500);
    width:px2rem(348);
    height:px2rem(82);
    background: rgba(0,0,0,0.5);
    border-radius: px2rem(90);
    opacity:0;
    transition-duration:.5s;
    transition-property:opacity,left;
    .user-info{
        dt{
            position: absolute;
            left:px2rem(4);
            top:px2rem(4);
            width:px2rem(72);
            height:px2rem(72);
            background:#fff;
            border-radius:50%;
            img{
                position: absolute;
                top:50%;
                left:50%;
                margin:px2rem(-35) 0 0 px2rem(-35);
                width:px2rem(70);
                height:px2rem(70);
                border-radius:50%;
            }
        }
        dd{
            position:absolute;
            top:px2rem(11);
            left:px2rem(90);
            font-size: px2rem(26);
            color: #FFF;
            p{
                line-height:px2rem(26);
            }
            .name{
                max-width:px2rem(200);
                margin-bottom:px2rem(9);
                white-space:nowrap;
                text-overflow:ellipsis;
                overflow:hidden;
            }
            .text{
                font-size:px2rem(22);
                color:#FFAD24;
            }
        }
    }
    .gift-icon{
        position:absolute;
        right:px2rem(0);
        top:px2rem(-18);
        width:px2rem(100);
        height:px2rem(100);
        background-repeat:no-repeat;
        background-position: 0 0;
    }
    .gift-num{
        width:px2rem(50);
        position:absolute;
        right:px2rem(-56);
        top:px2rem(-16);
        color:#fff;
        font-size:px2rem(65);
        -webkit-text-stroke:px2rem(2) #4d97d0;
        font-family: 'brush-script', 'Serif';
    }
    &.active{//控制user-gift-box
        left:px2rem(25);
        opacity:1;
    }
}

.gift-slider-box{
    position:absolute;
    left:0;
    bottom:0;
    width:100%;
    height:px2rem(500);
    background: rgba(0,0,0,0.70);
    .gift-group{
        position: relative; 
        overflow: hidden;
    }
    .slider-item{
        float:left;
        width:px2rem(750);
        height:100%;
        overflow:hidden;
    }
    .list{
        float:left;
        position:relative;
        width:px2rem(186);
        height:px2rem(160);
        margin-top:px2rem(35);
        text-align:center;
        font-size: px2rem(20);
        color: #FFF;
        .pic{
            width:px2rem(100);
            height:px2rem(100);
            margin:0 auto;
            img{
                width:px2rem(100);
                height:px2rem(100);
            }
        }
        .money{
            margin-top:px2rem(3);
            span{
                @extend %xiubi-icon;
                display:inline-block;
                // vertical-align:middle;
                margin-left:px2rem(3);
                width:px2rem(15);
                height:px2rem(15);
            }
        }
        .exper{
            color:#ccc;
        }
        .active-icon{
            display:none;
            @extend %gift-active-icon;
            position:absolute;
            top:px2rem(-10);
            right:px2rem(12);
            z-index:1;
        }
    }
    .curr{
        .active-icon{
            display:block;
        }
    }
    .gift-index{
        position: absolute;
        left:0;
        bottom:px2rem(90);
        width:100%;
        height:px2rem(10);
        text-align:center;
        font-size:0;
    }
    .index-item{
        display:inline-block;
        width:px2rem(10);
        height:px2rem(10);
        margin: 0 px2rem(6) 0 px2rem(6);
        border-radius:50%;
        background:#aaa;
        box-shadow:0 0 1px 1px rgba(130,130,130,.7);
        &.curr{
            background:#fff;
        }
    }
    .gift-bottom{
        position:absolute;
        left:0;
        bottom:0;
        width:100%;
        height:px2rem(70);
        border-top:px2rem(2) solid #fff;
        border-top-color:rgba(255,255,255,.2);
    }
    .recharge{
        padding-left:px2rem(20);
        line-height: px2rem(70);
        font-size:px2rem(28);
        color:#F64747;
        .num{
            color:#fff;
            padding:0 px2rem(10);
            vertical-align: -2px;
        }
        .xiubi-icon{
            display:inline-block;
            vertical-align:middle;
            width:px2rem(20);
            height:px2rem(20);
            @extend %xiubi-icon;
        }
    }
    .arrow1{
        display:inline-block;
        vertical-align:middle;
        width:px2rem(12);
        height:px2rem(20);
        @extend %arrow1;
        margin-left:px2rem(10);
    }
    .arrow2{
        display:inline-block;
        @extend %arrow2;
    }
    .combobox{
        position:absolute;
        right:px2rem(175);
        bottom:0;
        &.active{
            .combobox-list{
                display:block;
            }
            .arrow2{
                transform:rotate(180deg);   
            }
        }
        .input-box{
            position: relative;
            width:px2rem(175);
            height:px2rem(70);
            outline:none;
            border:none;
            background:rgba(255,255,255,.3);
            color:#fff;
        }
        input{
            width:px2rem(120);
            height:px2rem(50);
            line-height:px2rem(50);
            margin:0 px2rem(20);
            padding:px2rem(10) 0;
            font-size:px2rem(28);
            background: transparent;
            text-align:center;
        }
        .arrow2{
            position: absolute;
            top:px2rem(30);
            right:px2rem(12);
            transition:transform 0.2s ease-in; 
        }
        .combobox-list{
            display:none;
            position:absolute;
            left:px2rem(-40);
            top:px2rem(-570);
            width:px2rem(258);
            height:px2rem(540);
            background:rgba(0,0,0,.8);
            border-radius:px2rem(15);
            &::after{
                content:"";
                position:absolute;
                bottom:px2rem(-39);
                right:px2rem(120);
                width:0;
                height:0;
                border:px2rem(20) solid transparent;
                border-top-color:rgba(0,0,0,.8); 
                border-color:rgba(0,0,0,.8) transparent transparent transparent;
            }
            li{
                color:#fff;
                font-size:px2rem(30);
                height:px2rem(60);
                line-height:px2rem(60);
                text-align:center;
            }
        }
    }
    .send-btn{
        position:absolute;
        right:0;
        bottom:0;
        width:px2rem(175);
        height:px2rem(70);
        line-height:px2rem(70);
        text-align:center;
        font-size: px2rem(30);
        color:#fff;
        background: #F64747;
    }
    .lianji-gift{
        position: absolute;
        top:px2rem(-192);
        right:px2rem(-4);
        @extend %lianji-icon;
        width:px2rem(290);
        height:px2rem(215);
        font-size: px2rem(84);
        color: #FF9302;
        text-shadow:0 1px 2px rgba(0,0,0,.5);
        text-align:center;
        padding-top:px2rem(70);
        opacity:0;
        transition:opacity .5s;
        &.active{
            opacity:1;
        }
    }
    .no-select-gift{
        position: absolute;
        top:px2rem(-155);
        right:px2rem(260);
        width:px2rem(230);
        height:px2rem(68);
        line-height:px2rem(68);
        text-align:center;
        border-radius:px2rem(100);
        background:rgba(255,255,255,.7);
        font-size:px2rem(30);
        color: #3F3F3F;
    }
    
}
.custom-input-box{
    position:absolute;
    left:0;
    bottom:0;
    width:100%;
    height:px2rem(100);
    background: #F8F8F8;
    .input-num{
        width:px2rem(380);
        height:px2rem(60);
        line-height:px2rem(60);
        margin:0 px2rem(94);
        padding:px2rem(20) 0;
        font-size:px2rem(36);
        background: transparent;
        text-align:center;
        color:#ccc;
    }
    .out-btn{
        position:absolute;
        right:0;
        bottom:0;
        width:px2rem(182);
        height:px2rem(100);
        line-height:px2rem(100);
        text-align:center;
        font-size: px2rem(32);
        color:#fff;
        background:#ccc;
    }
    &.active{
        .input-num{
            color: #3F3F3F;
        }
        .out-btn{
            background: #F64747;
        }
    }
}
.play-end-box{
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:px2rem(862);
    background: #F8F8F8;
    img{
        width:100%;
        height:100%;
        display:block;
    }
    .live-mask{
        position:absolute;
        left:0;
        top:0;
        width:100%;
        height:100%;
        background:rgba(0,0,0,.3);
    }
    .end-info{
        position:absolute;
        left:0;
        top:0;
        width:100%;
        height:100%;
    }
    .text{
        text-align:center;
        font-size:px2rem(64);
        color: #FFF;
        margin:px2rem(277) 0 px2rem(122);
    }
    .index-btn{
        display:block;
        width:px2rem(448);
        height:px2rem(80);
        line-height:px2rem(80);
        margin:0 auto;
        background:#F64747;
        color:#fff;
        text-align:center;
        border-radius:px2rem(100);
        font-size:px2rem(32);
    }
}






